<section>
  <h4>What you need to get started:</h4>
  <div class="row icons">
    <div class="small-3 small-offest-3 columns icon">
      <p>1</p>
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxNn0CWm2m3QVAa6IQzbYn9yjJ56Wtf6T1rSEZRqGHltQ-Oto0HOGc7Q", class:"icon-image" %>
      <p class="icon-text">A Segment account</p>
      <br />
      <p>What is Segment?</p>
    </div>
    <div class="small-3 columns icon">
      <p>2</p>
      <%= image_tag "https://superbig.co/uploads/images/icons/icon.svg", class:"icon-image" %>
      <p class="icon-text">A Clearbit account</p>
      <br />
      <p>What is Clearbit?</p>
    </div>
    <div class="small-3 columns icon">
      <p>3</p>
      <%= image_tag "https://image.flaticon.com/icons/png/512/25/25231.png", class:"icon-image" %>
      <p class="icon-text">The open source code for Frictionless Signup</p>
      <br />
      <p class='instructions'>(includes installation instructions)</p>
    </div>
  </div>
  <div class="row bottom">
    <div class="small-12 columns">
      <p class='want_to_learn_more'>Want to learn more?</p>
      <a href="#" class="button expand"><p class="bottom-button">Request a Segment demo</p></a>
    </div>
  </div>
</section>