<br />
<br />
<br />
<br />
<h1>Meetup</h1>
<h2>Names</h2>

<%= @meetup_names %>

<h1>About</h1>

<p>I feel as though there may have beena disconnect between what you expected from me and what I thought I needed to do. From what I have learned from scraping technology over the past 2 days is that it heavily relies on grabbing information based upon a tags class. MeetUp worked just fine for this as a Users name was tied a specific class. However, their emails aren't even directly accessible to the owners of meetup groups, meaning that they are kept secret. Even my own email could be found within the html but no class was associated with it. So I cannot imagine how I could access (at least not legally), that sort of information without accessing the company's database, which I can only imagine would be quite difficult since MeetUp would keep that under tight wraps. I noticed a number of programs out there that can extra emails such as ScrapeBox but using that is not the same as me writing a program to scrape information. Hunter.io does something similar as well but it gives the your format for the email but not the entire email itself. 
</p>

<p>This issue continued further with About since as far as I could tell, there wasn't much in the way of a visible community on the site due to their business model. You pretty much pay them to create a site that is About You, but that site is kind of like wordpress in that it isn't accessed directly through their site since it is Your Site, not simply an extension of theirs (as far as I could tell).</p>

<p>Maybe I am overcomplicating these things but if I am wrong about any of this then I would greatly appreciate learning why and how to accomplish these tasks for the future. </p>