// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  margin-left: 80px;
  margin-right: 80px; 
  h4 {
    margin-bottom: 120px;
    margin-left: 110px;
    position: relative;
    font-size: 30px;
    top: 92px;
  }
  .icons {
    margin: 0px 100px;
    position: relative; 
    top: 103px;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: center;
    counter-reset: step;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  .icons:hover {
    border-color: #54D194 !important;
  }
    .icon {     
      display: block;
      position: relative;
      width: 270px;
      height: 270px;
      padding: 25px;
      padding-top: 25px;
      margin-bottom: 16px;
      border-radius: 4px;
      color: #00386C;
      box-shadow: 1px 1px 20px #f2f4f7;
      font-size: 16px;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: 0;
      text-decoration: none;
      border: 1px solid #f2f4f7;
      border-radius: 5px;
      margin-left: 2.5em;
      margin-right: 2.5em;
    .right {
      position: relative;
      left: 50px;
    }
    .icon:hover, .icon:focus {
      border: 1px solid #f2f4f7 !important;
      color: #54D194; 
      }
      .icon-text:hover {
        color: #54D194; 
        transition: 300ms;
        text-decoration: bold;
        }
      .icon-image {
        display: block;
        width: 84px;
        height: 84px;
        margin: auto;
        margin-bottom: 32px;
      }
      .icon-text {
        position: relative;
        bottom: 40px;
        font-size: 18px;
        color: #00386C;
      }
      .icon-text-bottom {
        color: #54D194;
        font-size: 18px;;
      }
      .instructions {
        color: #425E78;
        position: relative; 
        bottom: 16px;
      }
      .number {
        position: relative;
        bottom: 35px;
        font-size: 24px;
        color: #fff;
        border-radius: 50%;
        z-index: 2;
      }
      .circle {
        height: 40px;
        width: 40px;
        background: #49B882;
        position: relative;
        bottom: 195px;
        left: 89px;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }
}

.top-bar {
  background: #fff;
  box-shadow: 5px 8px 80px #f2f4f7;
  // padding: 10px;
  margin-bottom: 300px;
  position: fixed;
  width: 100%;
  // padding-bottom: 0px;
  // box-sizing: border-box;
  // display: -ms-flexbox;
  // display: flex;
  // -ms-flex-flow: row wrap;
  // flex-flow: row wrap;
  z-index: 10;
  .row {
    margin-right: 0px; 
    margin-left: 0px;
    max-width: 200rem;
    .logo-container {
      padding-left: 4px;
      margin-top: 0px;
    }
    div {
      .logo {
        height: 50px;
        width: 140px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .small-1 {
      margin-top: 15px;
      h6 {
        margin: 0px;
        a {
          strong {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.bottom {
  margin-top: 20em;
  text-align: center; 
  div {
    .want-to-learn-more {
      margin-bottom: 128px;
      color: #00386C !important;
    }
    .expand {
      border-radius: 20px;
      background: #54D194;
    }
    .bottom-button {
      color: #fff;
      margin: 0px;
      width: 300px;
    }
  }
}
